
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết sản phẩm</title>
    <link rel="stylesheet" href="/TMDT/CSS/Product.css">
</head>
<body>
    <!--  vùng html ẩn,nó sẽ không hiển thị cho đến khi bạn chèn nó vào DOM -->
    <template id="product-template"> 
        <div class="product">
            <img src="" alt="" class="image"> 
        </div>
    </template>
    
    <div id="product-detail"></div>
    
    
    <script src="/TMDT/js/detail.js"></script>
</body>
</html>