<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/TMDT/CSS/Product.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <header>
      <div class="container">
        <nav class="navbar">
          <a style="--1: 1" href="#" class="nav-item nav-bars">
            <img src="/TMDT/assets/Logo_nike.png" alt="" />
          </a>
          <div class="navbar-collapse">
            <ul class="navbar-nav">
              <li style="--1: 2" class="nav-link nav-item active">
                <a href="/TMDT/Index.html">HOME</a>
              </li>
              <li style="--1: 3" class="nav-item">
                <a href="/TMDT/components/About.html">ABOUT</a>
              </li>
              <li style="--1: 4" class="nav-item"><a href="#">PRODUCTS</a></li>
              <li style="--1: 5" class="nav-item"><a href="/TMDT/components/Blog.html">BLOG</a></li>
              <li style="--1: 6" class="nav-item"><a href="#">CONTACT</a></li>
              <li style="--1: 7" class="nav-item">
                <a href="#" class="fa-solid fa-cart-shopping"></a>
              </li>
              <li style="--1: 8" class="nav-item search">
                <a href="#" class="fa-solid fa-magnifying-glass"></a>
              </li>
              <li style="--1: 8" class="nav-item search">
                <a href="#" class="fa-solid fa-user"></a>
              </li>
            </ul>
          </div>
          <!-- Bars -->
          <div class="tab-menu">
            <i class="fa-solid fa-bars"></i>
          </div>
          <!-- ************ -->
        </nav>
      </div>
    </header>

    <div class="product">
      <div class="Product-column">
         <div class="Product-column_grid">
            <div id="Product"></div>
         </div>
       </div>
    </div>

    <script>
      const productlist = document.getElementById("Product");

      fetch("/TMDT/Data/data.json")
        .then((res) => res.json())
        .then((data) => {
          console.log("Du lieu Json", data);
          data.Nike.forEach((product) => {
            const productDiv = document.createElement("div");
            productDiv.className = "product";
            productDiv.innerHTML = `
            <a href="/TMDT/components/Product-details.html?id=${product.id}">
            <div class="col">
              <img src="${product.thumbail}">
              <div class="col-info">
                <h2>${product.title}</h2>
                <p class="text">${product.Sex}</p>
                <p><strong>${product.Price}</strong></p>
              </div>
              </div>
              </a>
            `;
            productlist.appendChild(productDiv)
          });
        })
        .catch((err) => console.error("loi khi load JSON", err));
    </script>

    <footer>
        <div class="footer-column">
          <div class="footer-column_flex">
            <div class="footer-column_flex-1">
              <h3>NIKE</h3>
              <p><strong>Address: </strong>33 Vinh Vien,Q10,TP.HCM</p>
              <p><strong>TELEPHONE: </strong>0764318308</p>
              <p><strong>EMAIL: </strong>nghoanglan0311@gmail.com</p>
            </div>
            <div class="footer-column_flex-1">
              <h3>MENU</h3>
              <p>HOME</p>
              <p>ABOUT</p>
              <p>PRODUCT</p>
              <p>BLOG</p>
              <p>CONTACT</p>
            </div>
            <div class="footer-column_flex-1">
              <h3>HELP</h3>
              <p>Get Help</p>
              <p>Delivery</p>
              <p>Returns</p>
            </div>
            <div class="footer-column_flex-1">
              <h3>NEWSLETTER</h1>
              <P>Subcrible by our newsletter and get update prodtidin</P>
              <div class="inputfleid">
                <input class="email" type="email" placeholder="Enter Email">
                <input class="submit" type="submit" value="Subcrible">
              </div>
            </div>
          </div>
        </div>
        <div class="copyright">
          <p>@2025 All Right Reversed By Nhom 1</p>
        </div>
      </footer>
  </body>
</html>
