
.containers{
    max-width: 1200px;
    margin: auto;
    margin-top: 5rem;
}
.post {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.post h2 {
    margin-top: 0;
}

.post .date {
    color: #777;
    font-size: 0.9em;
}

