.Product {
    margin-top: 3.5rem;
    /* height: 100vh; */
  
      & button {
        outline: auto;
        border: none;
        border-radius: 50px;
        padding: 0.75rem 2rem;
        cursor: pointer;
        width: 150px;
        background: #fff;
      }
      & button:hover {
        transition: all 0.3s ease-in-out;
        background: #ccc;
      }
      & button:not(:hover) {
        transition: all 0.3s ease-in-out;
        background: #fff;
      }
    }
    & .Product-column {
      max-width: 1300px;
      margin: auto;
  
      & h1 {
        text-align: center;
      }
      & .blur {
        margin-top: 1rem;
      }
      & .Product-column_grid {

        & #Product{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;
            margin-top: 3rem;
        }
  
        & .col {
          max-width: 650px;
          margin: auto;
          background: #fff;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
  
          & img {
            width: 100%;
          }
  
          & .col-info {
            padding: 5px 10px;
  
            & p {
              margin-top: 0.75rem;
              margin-bottom: 0.5rem;
              font-size: 1.2rem;
              color: #000;
            }
            & h2{
                color: #000;
            }
          }
        }
        & .col:hover {
          box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
            rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        }
      }
    }
  
    #pd{
      position: relative;
    }